<div id="action-bar-buttons">
  <button (click)="this.downloadConfig()" mat-mini-fab id="downloadConfigButton" color="primary">
    <mat-icon title="Download current user data and config" aria-hidden="false">download
    </mat-icon>
  </button>
  <button (click)="this.openImportConfigModal()" mat-mini-fab id="openImportConfigModal" color="primary">
    <mat-icon title="Upload user data and config" aria-hidden="false">upload</mat-icon>
  </button>
  <button (click)="logout()" mat-mini-fab id="logoutButton" color="warn">
    <mat-icon title="Logout">logout</mat-icon>
  </button>
</div>