<div id="create-expense-form">
  <mat-form-field appearance="fill" id="expenseAmount-container">
    <input
      id="expenseAmount"
      type="number"
      step=".01"
      matInput
      [formField]="expenseForm.amount"
      placeholder="Saisissez le montant de la dépense"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" id="expenseDate-container">
    <input
      [formField]="expenseForm.date"
      matInput
      id="expenseDate"
      [matDatepicker]="picker"
      placeholder="Sélectionnez une date"
      readonly
    />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Étiquette</mat-label>
    <input
      type="text"
      id="expense-label"
      placeholder="Renseignez un label"
      aria-label="Label"
      matInput
      (input)="clearSelectedLabel()"
      [formField]="expenseForm.labelQuery"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectLabel($event.option.value)">
      @for (option of filteredOptions(); track option) {
        <mat-option class="label-autocomplete-option" [value]="option">
          {{ option.label }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <button id="add-expense-button" [disabled]="!canCreateExpense()" mat-raised-button (click)="handleCreateExpense()">
    Ajouter une dépense
  </button>
</div>
