<div>
  <button (click)="selectPreviousMonth()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-form-field appearance="fill">
    <mat-label>Sélectionnez un mois</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="selectedMonthFormControl">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year" (monthSelected)="setMonthAndYear($event, picker)"
    [startAt]="this.selectedMonthFormControl.value"></mat-datepicker>
  </mat-form-field>

  <button (click)="selectNextMonth()" mat-icon-button>
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

<div id="expenses-container">
  <div id="chart-container">
    <canvas baseChart [data]="this.expensesByLabelChart" [options]="barChartOptions" [type]="'bar'"
    (chartClick)="handleChartClickedEvent($event)"></canvas>
  </div>

  <div id="expenses-detail">
    <h3 id="expenses-total">Total ce mois : {{ getTotalForMonth() }}€</h3>
    @if (this.expenses.length) {
      <div id="expenses-list">
        @for (expense of this.expenses; track expense; let index = $index) {
          <div>
            <span>{{formatExpenseDate(expense.expenseDate)}} : {{ expense.amount }}€
            {{ getLabelFromId(expense.labelId)?.label }}</span>
            @if (false) {
              <button mat-icon-button (click)="this.openDeleteExpenseModal(expense.id)">
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
        }
      </div>
    }
  </div>
</div>

<app-create-expense (insertedExpenseEvent)="handleExpenseCreation($event)" [labels]="this.labels"></app-create-expense>