<div class="flex h-screen">
  <div class="flex flex-col px-16 py-6 bg-white border-black border-2 rounded items-center m-auto">
    <div class="w-9/12 h-10/12 m-4 inline-block">
      <img src="assets/logo.png" class="mx-auto mt-3" alt="cash manager logo" />
    </div>
    <div>
      <h1 id="loginPageTitle" class="text-5xl">CashManager</h1>
    </div>
    <div class="flex flex-col mt-10 space-y-5">
      <input id="inputUsername" placeholder="Username" [(ngModel)]="inputUsername" />

      <input id="inputPassword" placeholder="Password" [(ngModel)]="inputPassword" type="password" />

      <button mat-raised-button id="loginButton" [disabled]="!this.inputUsername || !inputPassword || isLoading"
        (click)="handleLogin()" color="primary">
        <span class="flex flex-row items-center">
          <mat-spinner diameter="30" *ngIf="isLoading" class="mr-5"></mat-spinner>
          <span class="mx-auto">Se connecter</span>
        </span>
      </button>

    </div>
  </div>
</div>