#create-expense-form {
  display: flex;
  column-gap: 0.5em;
  align-items: center;

  #add-expense-button {
    width: fit-content;
  }

  @media (width <= 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
