@use '@angular/material' as mat;
@include mat.core;

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette)
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(),
    density: 0
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette)
    )
  )
);

// Apply the light theme by default
@include mat.core-theme($light-theme);
@include mat.button-color($light-theme);

html,
body {
  // Light mode
  --light-mode-background-color: #4e4945;

  // Dark mode
  --dark-mode-background-color: #282a33;

  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--light-mode-background-color);

  &.dark-mode {
    @include mat.core-color($dark-theme);
    @include mat.button-color($dark-theme);

    background-color: var(--dark-mode-background-color);
  }
}
