@use '@angular/material' as mat;
@include mat.elevation-classes;
@include mat.app-background;

// Define a dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$red-palette
    )
  )
);

// Define a light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette
    )
  )
);

html,
body {
  height: 100%;

  // Light mode
  --light-mode-background-color: #4e4945;

  // Dark mode
  --dark-mode-background-color: #282a33;

  // Apply the light theme by default
  @include mat.elevation-classes;
  @include mat.app-background;
  @include mat.button-color($light-theme);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--light-mode-background-color);

  &.dark-mode {
    background-color: var(--dark-mode-background-color);

    @include mat.elevation-classes;
    @include mat.app-background;
    @include mat.button-color($dark-theme);
  }
}
