<div class="flex flex-row flex-wrap">
  <button id="logoutButton" mat-raised-button (click)="logout()">
    Déconnexion
  </button>
</div>

<div class="label-container">
  <div *ngFor="let label of this.labels; let labelIndex = index">
    <span>Etiquette # {{ labelIndex }}</span
    ><span>{{ label.label }}</span>
  </div>

  <div *ngFor="let expense of this.expenses; let expenseIndex = index">
    <div>{{ expense.amount }}</div>
    <div>{{ expense.expenseDate }}</div>
  </div>

  <div id="chartContainer">
    <canvas
      class="min-h-24 max-h-96 max-w-2xl"
      baseChart
      [data]="this.expensesByLabelChart"
      [type]="'bar'"
    ></canvas>
  </div>

  <app-create-expense [labels]="this.labels"></app-create-expense>
</div>
