<div class="flex flex-row flex-wrap">
  <button id="logoutButton" mat-raised-button (click)="logout()">
    Déconnexion
  </button>
</div>

<div class="label-container">
  <div *ngFor="let label of this.labels">
    <span class="mr-2">Etiquette # {{ label.id }}</span
    ><span class="mr-2 label-name">{{ label.label }}</span>
    <span
      ><mat-icon class="deleteLabelButton" (click)="this.deleteLabel(label.id)"
        >delete</mat-icon
      ></span
    >
  </div>

  <div id="chartContainer">
    <canvas
      class="min-h-24 max-h-96 max-w-2xl"
      baseChart
      [data]="this.expensesByLabelChart"
      [type]="'bar'"
    ></canvas>
  </div>

  <app-create-expense
    (insertedExpenseEvent)="handleExpenseCreation($event)"
    (insertedLabelEvent)="handleLabelCreation($event)"
    [labels]="this.labels"
  ></app-create-expense>
</div>
