<app-header></app-header>

<button
  mat-raised-button
  [color]="isExpenseByMonthViewSelected() ? 'primary' : ''"
  (click)="this.selectExpenseByMonthView()"
>
  Affichage des dépenses par mois
</button>

<button
  mat-raised-button
  [color]="isTotalExpensesByMonthViewSelected() ? 'primary' : ''"
  (click)="this.selectTotalExpensesByMonthView()"
>
  Affichage du total par mois
</button>

<ng-template
  [ngIf]="isExpenseByMonthViewSelected()"
  [ngIfElse]="totalExpenseByMonth"
>
  <app-expense-list-by-month></app-expense-list-by-month>
</ng-template>
<ng-template #totalExpenseByMonth>
  <app-total-expense-by-month></app-total-expense-by-month>
</ng-template>
